@import url('https://fonts.googleapis.com/css2?family=Noto+Sans::100,200,300,400,500,600,700,800|sans-serif:100,200,300,400,500,600,700');

body {
    font-family: 'Noto Sans', sans-serif;
}

#home {
    height: 700px;
}

/* navbar */
.navbar-bg-color {
    background-color: transparent;
}

.navbar-brand {
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link {
    letter-spacing: 2px;
}


/* Carousel--taken from https://stackoverflow.com/questions/19469705/bootstrap-carousel-as-website-background*/
.carousel { z-index: -99; } 
.carousel .item {
    position: relative; 
    width: 100%; height: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  
}

.carousel .one {
    background: url(img/matsushima.jpg);
    background-size: cover;
    weight: 300px;
    height: 700px;
    -moz-background-size: cover;
}
.carousel .two {
    background: url(img/zao-crater.jpg);
    background-size: cover;
    weight: 300px;
    height: 700px;
    -moz-background-size: cover;
}
.carousel .three {
    background: url(img/naruko-koyo.jpg);
    background-size: cover;
    weight: 300px;
    height: 700px;
    -moz-background-size: cover;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}


/* jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #ffffff;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.jumbotron .lead {
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    margin: 25px 0;

}


/*--Call out--*/

.callout-container {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
    background-attachment: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    widows: 100%;
}

.callout {
   position: relative;
   top: -500px;
  
}   

/*--Contact Form--*/

.contact-section {
    background-image: url("img/daruma.png") no-repeat center fixed;
    background-size: cover;
    height: 600px;
    -moz-background-size: cover;
    padding-bottom: 30px;


}

.contact-form {
    
    position: relative;
    margin-top: 50px;
    padding-top: 50px


}


/*--Footer--*/

.social-links li a i {
    width: 30px;
    height: 30px;
    padding: 12px, 0;
    border-radius: 50%;
    font-size: 30px;
    line-height: 12px;
    text-align: center;
    color: rgb(85, 83, 83);
    transition: all 0.35s, ease-in-out;
    -moz-transition: all 0.35s, ease-in-out;
    -webkit-transition: all 0.35s, ease-in-out;
    -o-transition: all 0.35s, ease-in-out;
}

.social-links li a i:hover {
    background-color: rgb(85, 83, 83);
    color: red;
}

.social-links {
    letter-spacing: 40px;
}




.footer-social {
    width: 100%;
    text-align: left;
}   

.footer-content .footer-copyright {
    width: 100%;
    text-align: right;
    color: rgb(85, 83, 83);
    font-size: 12px;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}







